// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

#card-show{
  width: 280px;
  height: 300px;
}

.card-title{
  height: 90%;
  width: 100%;
  background-color: black;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 150ms;
  &:hover{
    background-size: 105%;
  }
}
.card-name{

}
.remove-btn{
  height: 10%;
  width: 100%;
  background: linear-gradient(180deg,white 80%,grey);
  transition: 0.5ms;
  &:hover{
    font-weight: 500;
    background: linear-gradient(180deg,white 80%,red);
  }
}

#banner{
  height: 200px;
  object-fit: cover;
}
